*{box-sizing: border-box;
margin: 0;
padding: 0;}

:root{
    --primary-color:#004caa;
    --secondary-color:#fc5185;
    --bg-light-blue:#3672bc;
    --bg-dark:#666;
    --bg-white:#fff;


    --primary-text:#004caa;
    --secondary-text:#fc5185;
    --text-light:#ddd;
    --text-dark:#666;
    --text-white:#fff;
    --text-black:#222;
}

body{
    background-color: var(--bg-white);
}

a{
    text-decoration: none;
}

::-wabkit-scrollbar-thumb {
    background-color:var(--secondary-color);
}
.wrappeer{
    padding: 6.25rem 0;
}

.main-btn{
    display: inline-block;
    border: .0625rem solid var(--bg-white);
    color: var(--text-white);
    text-align: center;
    padding: 0.75rem 1.375rem;
    font-size: 1rem;
    background: transparent;
    text-transform: capitalize;
    border-radius: .1875rem;
    transition: all 0.3s ease-in-out;
}
.main-btn:hover{
    background-color: #fc5185;
    border-color: #fc5185;
    color: var(--text-white);
}
.fill-btn{
    background-color: #fc5185;
    border-color: #fc5185;
    color: var(--text-white);
}
.fill-btn:hover{
    background-color: var(--bg-white);
    border-color: var(--bg-white) ;
    color: var(--text-black);
}
h1{
    font-size: 3.875rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
    color: var(--text-white);
}
h2{
    font-size: 2.875rem;
    
    font-weight: 600;
    color: var(--text-white);
}
h3{
    font-size: 2.25rem;
  
    font-weight: 600;
    color: var(--text-white);
}
h4{
    font-size: 1.55rem;
    margin-bottom: 1.25rem;
    line-height: 2.5rem;
    font-weight: 600;
    color: var(--text-black);
   
}
h5{
    font-size: 1.25;
    margin-bottom:1.25rem ;
    line-height: 1.2;
    font-weight: 600;
    color: var(--primary-text);
}
h6{
    font-size:.875rem;
    margin-bottom:.9375rem ;
    line-height: 1.2;
    font-weight: 600;
    color: var(--text-black);
    text-transform: uppercase;
}   
p{
    font-size: 1rem;
    color: var(--text-black);
    line-height: 1.625rem;

}
.card{
    border-radius: .625rem;
    background-color:var(--bg-white);
    box-shadow: .5084rem 3.125rem 4.6875rem rgb(0 0 0 8%);
    padding: 3.75rem 3.125rem 4.6575rem;
 --webkit-transition: all 0.4s;
 transition: all 0.4s ;
 border:2;

}

.card:hover{
    transition: all 0.4s ;
    box-shadow: 2px 3px 4px solid black;
}

@keyframes movebounce{
    0%{
        -webkit-transform: translateY(0);
        transition: transition(0);
    }
    50%{
        -webkit-transform: translateY(1.25rem);
        transition: transition(1.25rem);
    }
    100%{
        -webkit-transform: translateY(0);
        transition: transition(0);
    }
}

.header_wrapper .navbar{
    padding: .9375rem 0;
    background-color: transparent;
    transition:0.3s ease-in-out;
}
.header_wrapper .navbar-toggler{
    border: 0;
    color: var(--text-black);
line-height: 2;
box-shadow: none;
}

.header_wrapper .nav-item{

    margin: 0 .625rem;
}

.header_wrapper .nav-item .nav-link{
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--primary-text);
    display: inline-block;

}
.header_wrapper .nav-item .nav-link:hover,
.header_wrapper .nav-item .nav-link:focus
.header_wrapper .nav-item .nav-link.active{
    color: var(--secondary-text);
}
.navbar .header-scrolled{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: var(--bg-white);
    box-shadow:.5084rem 1.1419rem 2.5rem rgb( 0 0 0 /8%) ;
    transition: 0.2s ease-in-out;
}

.banner_wrapper{
    background-image: url(images/top-banner-img/Top-banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}
.banner_wrapper p{

    text-align: center;
    max-width:60% ;
    color: var(--text-white);
}

.banner_wrapper .top-right-sec{
    position: relative;
    background-image: url(images/top-banner-img/top-right-bg.png);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: contain;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.banner_wrapper .animate-img{
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translate(-50%);
    z-index: 22;
} 
.banner_wrapper .animate-img .aimg1{
    left: -5.6875rem;
    position:absolute;
    animation-name: movebounce;
    -webkit-animation-name: movebounce;
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-direction: alternate;
    -webkit-animation-direction:alternate ;
}
.banner_wrapper .animate-img .aimg2{
    left: 5.5rem;
    animation-name: movebounce;
    -webkit-animation-name: movebounce;
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
    animation-direction: alternate;
    -webkit-animation-direction:alternate ;
}
.home .card:hover{
    -webkit-transform: translateY(-0.625rem);
    transform: translatey(-0.625rem);
}
.home .icon-box{
    text-align: center;
    margin: 0 auto 2.5rem;
}