*{box-sizing: border-box;
margin: 0;
padding: 0;}

:root{
    --primary-color:#004caa;
    --secondary-color:#fc5185;
    --bg-light-blue:#3672bc;
    --bg-dark:#666;
    --bg-white:#fff;


    --primary-text:#004caa;
    --secondary-text:#fc5185;
    --text-light:#ddd;
    --text-dark:#666;
    --text-white:#fff;
    --text-black:#222;
}

body{
    background-color: var(--bg-white);
}

a{
    text-decoration: none;
}

::-wabkit-scrollbar-thumb {
    background-color:var(--secondary-color);
}
.wrappeer{
    padding: 6.25rem 0;
}

.main-btn{
    display: inline-block;
    border: .0625rem solid var(--bg-white);
    color: var(--text-white);
    text-align: center;
    padding: 0.75rem 1.375rem;
    font-size: 1rem;
    background: transparent;
    text-transform: capitalize;
    border-radius: .1875rem;
    transition: all 0.3s ease-in-out;
}
.main-btn:hover{
    background-color: #fc5185;
    border-color: #fc5185;
    color: var(--text-white);
}
.fill-btn{
    background-color: #fc5185;
    border-color: #fc5185;
    color: var(--text-white);
}
.fill-btn:hover{
    background-color: var(--bg-white);
    border-color: var(--bg-white) ;
    color: var(--text-black);
}
h1{
    font-size: 3.875rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
    color: var(--text-white);
}
h2{
    font-size: 2.875rem;
    
    font-weight: 600;
    color: var(--text-white);
}
h3{
    font-size: 2.25rem;
  
    font-weight: 600;
    color: var(--text-white);
}
h4{
    font-size: 1.55rem;
    margin-bottom: 1.25rem;
    line-height: 2.5rem;
    font-weight: 600;
    color: var(--text-black);
   
}
h5{
    font-size: 1.25;
    margin-bottom:1.25rem ;
    line-height: 1.2;
    font-weight: 600;
    color: var(--primary-text);
}
h6{
    font-size:.875rem;
    margin-bottom:.9375rem ;
    line-height: 1.2;
    font-weight: 600;
    color: var(--text-black);
    text-transform: uppercase;
}   
p{
    font-size: 1rem;
    color: var(--text-white);
    line-height: 1.625rem;

}
.card{
    border-radius: .625rem;
    background-color:var(--bg-white);
    box-shadow: .5084rem 3.125rem 4.6875rem rgb(0 0 0 / 8%);
    padding: 3.75rem 3.125rem 4.6575 rem;
 --webkit-transition: all .4s;
 transition: all .4s ;
 border: 0;
}

@keyframes movebounce{
    0%{
        -webkit-transform: translateY(0);
        transition: transition(0);
    }
    50%{
        -webkit-transform: translateY(1.25rem);
        transition: transition(1.25rem);
    }
    100%{
        -webkit-transform: translateY(0);
        transition: transition(0);
    }
}